html,
body {
    background: #000;
    overflow: visible;
    padding: 0;
    margin: 0;
	width:70%;
}

div#gameContainer {
    background: transparent !important;
    position: absolute;
	vertical-align: center;
}

div#gameContainer canvas {
    position: absolute;
	vertical-align: center;
}

#custom-logo {
    background-image: url('Loading Icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
	vertical-align: center;
}


#custom-loader .fill {
    background: rgb(255, 145, 0);
	vertical-align: center;
}


#custom-loader .label {
    color: white;
    position: relative;
    font-size: 35px;
    text-align: center;
    font-family: sans-serif, calibri;
	vertical-align: center;
}

#custom-loader .help {
    color: white;
    position: relative;
    text-align: center;
	vertical-align: center;
}
